# SQL

### <a id='the_destination_0'></a> –û–≥–ª–∞–≤–ª–µ–Ω–∏–µ
- <a href='#the_destination_1'>1. –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö</a>
- <a href='#the_destination_2'>2. –†–µ—à–µ–Ω–∏–µ –∑–∞–¥–∞—á</a>
- <a href='#the_destination_3'>3. –í—ã–≤–æ–¥—ã</a>

–¶–µ–ª—å –ø—Ä–æ–µ–∫—Ç–∞ - –æ–∑–Ω–∞–∫–æ–º–∏—Ç—Å—è —Å –±–∞–∑–æ–π –Ω–∞—à–µ–≥–æ –Ω–æ–≤–æ–≥–æ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-–º–∞–≥–∞–∑–∏–Ω–∞/–∫–Ω–∏–∂–Ω–æ–π –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã, –≤—ã—è–≤–∏—Ç—å –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏–µ, –ª–∏–±–æ –Ω–∞–æ–±–æ—Ä–æ—Ç —Å–∞–º—ã–µ –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã–µ –¥–ª—è –±–∏–∑–Ω–µ—Å–∞ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è.

–ù–∞—à–∞ –∑–∞–¥–∞—á–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –∫—Ä—É–ø–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

–ü–µ—Ä–≤—ã–º –¥–µ–ª–æ–º –∑–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ–¥–≥–æ—Ç–æ–≤–∏–º –∏—Ö –¥–ª—è —Ä–∞–±–æ—Ç—ã.

–î–∞–ª–µ–µ –≤—ã–¥–µ–ª–∏–º —Å–∞–º—ã—Ö –∞–∫—Ç–∏–≤–Ω—ã—Ö –∏–∑–¥–∞—Ç–µ–ª–µ–π, —Å–∞–º—ã–µ –≤—ã—Å–æ–∫–∏–µ –æ—Ü–µ–Ω–∫–∏ —Å—Ä–µ–¥–∏ –∞–≤—Ç–æ—Ä–æ–≤, –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∞ —Ç–∞–∫–∂–µ –≤ –æ—Ç–Ω–æ—à–µ–Ω–∏–∏ –∫ –¥–∞—Ç–µ –≤—ã—Ö–æ–¥–∞.

## <a id='the_destination_1'></a> –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö
<a href='#the_destination_0'>–ö –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é</a>

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
db_config = {'user': 'praktikum_student',
             'pwd': 'Sdf4$2;d-d30pp',
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,
             'db': 'data-analyst-final-project-db'}

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!
    
–°–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø–µ—Ä–µ–∑–∞–ø—É—Å–∫–∞–µ—à—å —è–¥—Ä–æ –ø—Ä–æ–µ–∫—Ç–∞ –ø–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π –Ω–∞ —Ä–µ–≤—å—é - —ç—Ç–æ –≤–∞–∂–Ω—ã–π —à–∞–≥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—Ä–æ—Å—Ç—ã—Ö –∏ –¥–æ—Å–∞–¥–Ω—ã—Ö –æ—à–∏–±–æ–∫ –ø—Ä–∏ –≤–æ—Å–ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–∏ —Ä–µ—à–Ω–µ–∏—è:)
</div>

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –¥–∞–Ω–Ω—ã–µ, –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ –∑–∞–¥–∞–≤ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –≤—ã–≤–µ–¥–µ—Ç 5 –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –∫–∞–∂–¥–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

In [3]:
list = ['books', 'authors', 'publishers', 'reviews']
for name in list:
    print('\t')
    query = "SELECT * FROM {} LIMIT 5".format(name)
    print('–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞', name, ':')
    display(pd.io.sql.read_sql(query, con = engine))

–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ books :

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ authors :

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ publishers :

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ reviews :

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

**–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:**

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

## <a id='the_destination_2'></a> –†–µ—à–µ–Ω–∏–µ –∑–∞–¥–∞—á
<a href='#the_destination_0'>–ö –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é</a>

**1 –∑–∞–¥–∞–Ω–∏–µ:** –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

In [4]:
query = '''
            SELECT COUNT(DISTINCT(book_id))
            FROM books
            WHERE publication_date >= '2000-01-01'
        '''
pd.io.sql.read_sql(query, con = engine)

   count
0    821

C 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ 821 –∫–Ω–∏–≥–∞.

**2 –∑–∞–¥–∞–Ω–∏–µ:** –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É.

In [5]:
query = '''
            SELECT b.book_id, 
                   b.title, 
                   COUNT(DISTINCT re.review_id) AS cnt_reviews, 
                   ROUND(AVG(rt.rating),3) AS avg_rating
            FROM books b
            LEFT JOIN reviews re ON b.book_id = re.book_id
            LEFT JOIN ratings rt ON b.book_id = rt.book_id
            GROUP BY 1, 2
            ORDER BY 3 DESC
        '''
pd.io.sql.read_sql(query, con = engine)

,book_id,title,cnt_reviews,avg_rating
0,948,Twilight (Twilight #1),7,3.663
1,963,Water for Elephants,6,3.977
2,734,The Glass Castle,6,4.207
3,302,Harry Potter and the Prisoner of Azkaban (Harr...,6,4.415
4,695,The Curious Incident of the Dog in the Night-Time,6,4.081
...,...,...,...,...
995,83,Anne Rice's The Vampire Lestat: A Graphic Novel,0,3.667
996,808,The Natural Way to Draw,0,3.000
997,672,The Cat in the Hat and Other Dr. Seuss Favorites,0,5.000
998,221,Essential Tales and Poems,0,4.000
999,191,Disney's Beauty and the Beast (A Little Golden...,0,4.000

–°–∞–º–æ–µ –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—É—á–∏–ª–∞ –∫–Ω–∏–≥–∞ –∏–∑ —Å–µ—Ä–∏–∏ "–°—É–º–µ—Ä–∫–∏" - 7 –æ—Ç–∑—ã–≤–æ–≤, —Ö–æ—Ç—è —Ä–µ–π—Ç–∏–Ω–≥ –Ω–µ –≤—ã—Å–æ–∫–∏–π. –¢–∞–∫ –∂–µ –≤ –¥–∞–Ω–Ω—ã—Ö –º–Ω–æ–≥–æ –∫–Ω–∏–≥ –≤–æ–æ–±—â–µ –±–µ–∑ –æ–±–∑–æ—Ä–æ–≤.

**3 –∑–∞–¥–∞–Ω–∏–µ:** –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã.

In [6]:
query = '''
            SELECT p.publisher,
                   COUNT(DISTINCT b.book_id) as cnt_books
            FROM books b
            LEFT JOIN publishers p ON b.publisher_id = p.publisher_id
            WHERE b.num_pages > 50
            GROUP BY 1
            ORDER BY 2 DESC
            LIMIT 1            
        '''
pd.io.sql.read_sql(query, con = engine)

       publisher  cnt_books
0  Penguin Books         42

–ò—Å–∫–ª—é—á–∏–≤ –∏–∑ –¥–∞–Ω–Ω—ã—Ö –±—Ä–æ—à—é—Ä—ã (–∫–Ω–∏–≥–∏ –º–µ–Ω—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü), –ø–æ–ª—É—á–∏–ª–∏, —á—Ç–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ "Penguin Books" –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ—Ö –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –µ—Å—Ç—å –≤ –Ω–∞—à–µ–π –±–∞–∑–µ, –∞ –∏–º–µ–Ω–Ω–æ 42 —à—Ç.

**4 –∑–∞–¥–∞–Ω–∏–µ:** –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏.

In [7]:
query = '''
            WITH f AS (
            SELECT r.book_id,
                   AVG(r.rating)avg_rating,
                   COUNT(r.rating)
            FROM ratings r
            GROUP BY 1
            HAVING COUNT(rating) >= 50)
            
            SELECT a.author,
                   AVG(f.avg_rating)
            FROM f
            LEFT JOIN books b ON b.book_id = f.book_id
            LEFT JOIN authors a ON b.author_id = a.author_id
            GROUP BY 1
            ORDER BY 2 DESC
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

                       author       avg
0  J.K. Rowling/Mary GrandPr√©  4.283844

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, –ø—Ä–∏ —É—á–µ—Ç–µ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —ç—Ç–æ –î–∂–æ–∞–Ω –ö—ç—Ç–ª–∏–Ω –†–æ—É–ª–∏–Ω–≥, –∏–∑–≤–µ—Å—Ç–Ω–∞—è –≤—Å–µ–º —Å–µ—Ä–∏–µ–π –∫–Ω–∏–≥ –ø—Ä–æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–∞.

**5 –∑–∞–¥–∞–Ω–∏–µ:** –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [8]:
query = '''
            WITH f AS (
            SELECT username,
                   COUNT(rating) rating_count
            FROM ratings 
            GROUP BY 1
            HAVING COUNT(rating) > 50),
            
            s AS (
            SELECT username, 
                   COUNT(text) review_count 
            FROM reviews
            GROUP BY 1)
            
            SELECT ROUND(AVG(review_count)) avg_review_count
            FROM f
            LEFT JOIN s ON f.username = s.username
        '''
pd.io.sql.read_sql(query, con = engine)

   avg_review_count
0              24.0

–í —Å—Ä–µ–¥–Ω–µ–º, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ –ø–∏—à—É—Ç 24 –æ–±–∑–æ—Ä–∞ –Ω–∞ –∫–Ω–∏–≥–∏.

## <a id='the_destination_3'></a> –í–´–í–û–î–´:

- —Å 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–∞ 821 –∫–Ω–∏–≥–∞
- —Å–∞–º–æ–µ –±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –ø–æ–ª—É—á–∏–ª–∞ –∫–Ω–∏–≥–∞ –∏–∑ —Å–µ—Ä–∏–∏ "–°—É–º–µ—Ä–∫–∏" - 7 –æ—Ç–∑—ã–≤–æ–≤, —Ö–æ—Ç—è —Ä–µ–π—Ç–∏–Ω–≥ –Ω–µ –≤—ã—Å–æ–∫–∏–π. –¢–∞–∫ –∂–µ –≤ –¥–∞–Ω–Ω—ã—Ö –º–Ω–æ–≥–æ –∫–Ω–∏–≥ –≤–æ–æ–±—â–µ –±–µ–∑ –æ–±–∑–æ—Ä–æ–≤
- –∏—Å–∫–ª—é—á–∏–≤ –∏–∑ –¥–∞–Ω–Ω—ã—Ö –±—Ä–æ—à—é—Ä—ã (–∫–Ω–∏–≥–∏ –º–µ–Ω—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü), –ø–æ–ª—É—á–∏–ª–∏, —á—Ç–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ "Penguin Books" –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ—Ö –∫–Ω–∏–≥, –∫–æ—Ç–æ—Ä—ã–µ –µ—Å—Ç—å –≤ –Ω–∞—à–µ–π –±–∞–∑–µ, –∞ –∏–º–µ–Ω–Ω–æ 42 —à—Ç
- –∞–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, –ø—Ä–∏ —É—á–µ—Ç–µ –∫–Ω–∏–≥ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏, —ç—Ç–æ –î–∂–æ–∞–Ω –ö—ç—Ç–ª–∏–Ω –†–æ—É–ª–∏–Ω–≥, –∏–∑–≤–µ—Å—Ç–Ω–∞—è –≤—Å–µ–º —Å–µ—Ä–∏–µ–π –∫–Ω–∏–≥ –ø—Ä–æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–∞
- –≤ —Å—Ä–µ–¥–Ω–µ–º, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ –ø–∏—à—É—Ç 24 –æ–±–∑–æ—Ä–∞ –Ω–∞ –∫–Ω–∏–≥–∏.

<a href='#the_destination_0'>–ö –æ–≥–ª–∞–≤–ª–µ–Ω–∏—é</a>